.welcome-text{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.name-text{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
.tag-text{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
